<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Finalizar <%= tarefa.nome %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p><b>Início:</b> <%= tarefa.inicio_to_s %></p>
  <%= form_for tarefa, url: {action: "update"} do |f| %>
    <%= f.hidden_field :status, value: "concluida" %>
    <div class="form-group">
      <%= f.label :termino %><br />
      <%= f.datetime_field :termino, class: "form-control" %>
    </div>

    <%= f.submit "Finalizar", class: "btn btn-primary btn-block" %>

  <% end %>
</div>