<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= tarefa.nome %> - <%= tarefa.status_to_s %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p><b>Início:</b> <%= tarefa.inicio_to_s %></p>
  <p><b>Término:</b> <%= tarefa.termino_to_s %></p>
  <% if tarefa.cancelada? %>
    <p><b>Motivo do Cancelamento:</b></p>
    <p><%= tarefa.motivo_cancelamento %></p>
  <% end %>
</div>
    