<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= equipe.nome %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="container">
    <h5>Gestor</h5>
    <p> <%= equipe.gestor.nome %></p>

    <h5>Adicionar Participantes</h5>
    <div id="select_membros">
      <%= render "select_membros", equipe: equipe %>
    </div>

    <button class="btn btn-success" onclick="adicionar_usuario();">Adicionar</button>

    <h5>Participantes</h5>
    <div id="membros_list">
      <%= render "list_membros", equipe: equipe %>
    </div>

    <%= link_to "Concluir", tarefas_path(), class: "btn btn-primary" %>
  </div>

</div>

<script type="text/javascript">
  function adicionar_usuario(){
    var usuario_id = $("#equipe_usuarios").val();

    $.ajax({
      url: "/equipes/adicionar_membro",
      method: "POST",
      dataType: "script",
      data: {
        'usuario_id': usuario_id,
        'equipe_id': <%= equipe.id %>
      }
    });
  }
</script>

    