<!DOCTYPE html>
<html>
  <head>
    <title>Apontamento</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <%= render 'templates/alert' %>
      <%= yield %>
    </div>

    <footer>
      <div class="fixed-bottom text-center bg-dark text-light p-3 mt-3">
        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </footer>
    
  </body>
</html>
